


<% unless current_user.nil? %>

<p id="notice"><%= notice %></p>

<h1>Trolls : </h1>

<table border=1>
  <thead>
    <tr>
      
      <th><p align='center'>Video</p></th>
      <th><p align='center'>Title</p></th>

    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <% a=YouTubeAddy.extract_video_id(post.video) %>
        <% embed_url="<iframe width='420' height='315' src='http://www.youtube.com/embed/#{a}' frameborder='0' allowfullscreen></iframe>" %>       
        <td><%= embed_url.html_safe %> </td>
        <td><%= post.title %></td>   
        <!-- <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!--
<%= link_to 'New Post', new_post_path %>
-->

<% else %>
<br/>
<br/>
<br/>
Please Signin to watch the Troll Videos:)

<% end %>